{% extends 'home/home.html' %}

{% block button-header %}
    <a href="/orders/all"><button class="button-cadastro"><strong>Editar Pedidos</strong></button></a>
{% endblock %}

{% block content %}


<div class="container">
    <div class="board">
        <header class="header-board">⏰</header>
        <strong>Aguardando</strong>
        <span>(3)</span>
        <span>{{CountPedidos}}</span>
        <br>
        <a name="orders"></a>
        <div class="row  justify-content-center" id="pedidos">
            {% for pedido in pedidos %}
            <div class="board-pedidos">
                <div class="card">
                    <img class="img-pedido" src="../img/products/{{this.imagem}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mesa {{pedido.id}}</h5>
                        <p class="card-text">Pedido {{pedido.name}}</p>
                        <button class="button-enviar"><strong>Enviar para Produção</strong></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="board">
        <header class="header-board">👨🏻‍🍳</header>
        <strong>Em Produção</strong>
        <span>(2)</span>
    </div>

    <div class="board">
        <header class="header-board">✅</header>
        <strong>Concluído</strong>
        <span>(3)</span>
    </div>

</div>

{% endblock %}