{% extends 'home/home.html' %}

{% block button-header %}
    <a href="/"><button class="button-cadastro"><strong>Voltar</strong></button></a>
{% endblock %}

{% block content %}

<div class="container-cadastro">
    <div class="board-orders">
        <a href="/criando" class="button btn btn-success">Novo Pedido</a>
        <br />
        <a name="orders"></a>
        <div class="row justify-content-center">
            {% for pedido in pedidos %}
            <div class="board-pedidos">
                <div class="item-page">
                    <img class="img-pedido" src="../img/products/{{this.imagem}}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Mesa {{pedido.id}}</h5>
                        <p class="card-text">Pedido {{pedido.nome}}</p>
                        <div class="actions">
                            <a href="/details/{{pedido.id}}" class="button-modal">Detalhes</a>
                            <a href="/editar/{{pedido.id}}" class="button-modal">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}