{% extends 'home/home.html' %}

{% block content %}



<h1>Criar Order</h1>
<form action="{% url 'salvar' %}" method="POST">

    {% csrf_token %}

    <input type="text" name="nome" required>
    <button type="submit">Criar</button>

    <!-- <div class="card-parciais item-page">

            <div class="card-body">

                <div class="form-group">

                <input type="hidden" name="id" value={{pessoa.id}} />

                <label for="mesa">Nome da Pessoa:</label>
                <input
                type="text"
                name="mesa"
                placeholder="Digite o nome da Pessoa"
                
                />

            </div> -->

            <!-- <div class="form-group">
                <label for="pedido">Pedido:</label>
                <input
                type="number"
                name="pedido"
                placeholder="Digite o número do Pedido"
                value="{{order.pedido}}"
                />
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input name="descricao" value="{{order.descricao}}" placeholder="Digite a descrição do Pedido"></input>
            </div>

            <div class="form-group">
                <label for="imagem">Imagem:</label>
                <input type="file" name="imagem" />
            </div> -->

                
            
            
            <!-- <div class="buttons-detail">

                <a href="/orders" class="btn btn-primary voltar">Voltar</a>

                <input type="submit" class="btn btn-primary button" value="Criar" />
            
            </div> -->

        
    </div>
</form>

{% endblock %}

<!-- <ul>
    {% for pessoa in pessoas %}
    <li>
        {{ pessoa.id }} - {{pessoa.nome}} 
        <a href="{% url 'editar' pessoa.id %}">Editar</a>
        <a href="{% url 'remover' pessoa.id %}">Remover</a>
        {% if request.user.is.authenticated %}
            <a href="{% url 'logout' %}">Sair</a>
        {% endif %}
    </li>
    {% endfor %}
</ul> -->

<!-- <form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="nome" required>
    <button type="submit">Criar</button>
</form>  -->