{% extends 'home/home.html' %}

{% block button-header %}
    <a href="/all"><button class="button-cadastro"><strong>Voltar</strong></button></a>
{% endblock %}

{% load static %}
{% static "" as baseUrl %}

{% block content %}

<div class="card-parciais item-page">   
    <img src="{{ baseUrl }}/static/assets/img/{{pedido.imagem}}" class="card-img-top" alt="..." /> 
    <div class="card-body">
        <p class="card-text">Descrição <Strong>{{pedido.descricao}}</Strong></p>
        <p class="card-text">Pedido {{pedido.numero}}</p>
        <h5 class="card-title">Mesa {{pedido.numeroMesa}}</h5>
    </div>
</div>

{% endblock %}