% extends 'home/home.html' %}

{% block content %}

<div class="card-parciais item-page">
    <img src="/img/products/{{order.imagem}}" class="img-detail" alt="{{order.mesa}}">
    <div class="card-body">
        <h5 class="card-title">Mesa {{order.mesa}}</h5>
        <p>Pedido: {{order.pedido}}</p>
        <p>Descrição: {{order.descricao}}</p>
        <div class="buttons-detail">
            <a href="/orders" class="btn btn-primary voltar">Voltar</a>
            <form action="/orders/remove/{{order._id}}" method="POST">
                <input type="submit" class="button btn btn-primary excluir" value="Excluir">
            </form>
        </div>

    </div>
</div>