{% extends 'home/home.html' %}

{% block button-header %}
    <a href="/all"><button class="button-cadastro"><strong>Voltar</strong></button></a>
{% endblock %}

{% block content %}


<h1>Editar Pedido</h1>
<form action="{% url 'update' pedido.id %}" method="POST">

    {% csrf_token %}

    <div class="card-parciais item-page">

        <img src="{{ baseUrl }}/static/assets/img/{{pedido.imagem}}" class="card-img-top" alt="..." /> 

        <div class="card-body">


            <div class="form-group">
                <label for="pedido">Descrição:</label>
                <input type="text" name="descricao" placeholder="Digite a descrição do pedido" value="{{pedido.descricao}}" />
            </div>

            
            <div class="form-group">
                <label for="pedido">Pedido:</label>
                <input type="number" name="numero" placeholder="Digite o número do Pedido" value="{{pedido.numero}}" />
            </div>
            
            
            <div class="form-group">
                <label for="mesa">Número da Mesa:</label>
                <input type="number" name="numeroMesa" placeholder="Digite o número da Mesa" value="{{pedido.numeroMesa}}" />
            </div>


            <div class="form-group">
                <label for="imagem">Imagem:</label>
                <input type="file" name="imagem" />
            </div>

            <div class="buttons-detail">

                <input type="submit" class="btn btn-primary button" value="Salvar" />

            </div>

        </div>

       
</form>


<form action="/remover/{{pedido.id}}" method="POST">

    {% csrf_token %}
    
    <div class="buttons-detail">
        <input type="submit" class="button btn btn-primary excluir" value="Excluir">
    </div>
</form>




{% endblock %}