{% extends 'home/home.html' %}

{% block content %}


<h1>Editar Order</h1>
<form action="/orders/edit" method="POST" enctype="multipart/form-data">
    <div class="card-parciais item-page">

        <img src="/img/products/{{order.imagem}}" class="img-detail" alt="{{order.mesa}}" />

        <div class="card-body">

            <div class="form-group">

                <input type="hidden" name="id" value={{order._id}} />

                <label for="mesa">Mesa da Mesa:</label>
                <input type="number" name="mesa" placeholder="Digite o número da Mesa" value="{{order.mesa}}" />

            </div>

            <div class="form-group">
                <label for="pedido">Pedido:</label>
                <input type="number" name="pedido" placeholder="Digite o número do Pedido" value="{{order.pedido}}" />
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input name="descricao" value="{{order.descricao}}" placeholder="Digite o mesa do Pedido"></input>
            </div>

            <div class="form-group">
                <label for="imagem">Imagem:</label>
                <input type="file" name="imagem" />
            </div>




            <div class="buttons-detail">

                <a href="/orders" class="btn btn-primary voltar">Voltar</a>

                <input type="submit" class="btn btn-primary button" value="Salvar" />

            </div>


        </div>
</form>